.menu-home {
    display: block;
    width: 100%;
    height: 15vh;
    // background-color: transparent;
    background-color: transparent;
    color: $primary-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $content-font;
    margin: 0px;
    position: fixed;
    z-index: 5;
    top: 0;
    
    .nav-right{
        width: 70vw;
        display: inline-flex;
        justify-content: flex-end;
        margin-right: 10vw;
    }

    .nav-left{
        width: 30%;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
    }

    .text-logo{
      display: inline-flex;
      font-size: 35px;
      font-family: $title-font;
    
      .sport{
        color: $primary-background;
      }
      .eat{
        color: $primary-color;
      }
  }
    .navItems{
      position: relative;
      color: $primary-background;
      margin-left: 25px;
      text-decoration: none;
      line-height: 40px;
    }

    .navItems:hover{
      font-size: 15px;
    }

    .navItems:before {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $primary-background;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    .navItems:hover:before {
      visibility: visible;
      width: 100%;
    }

  }

  .scrolledNavbar{
    @include glass (0.1);
  }

.logo {
  height: 20vh;

}