.field{
    position: relative;
    .input{
        @include glass(0.2);
        &:focus{
            outline: none;
        }
        &:hover{ transform : rotate(0) !important;
        }
        height: 2em;
        border-radius: 2em;
        width: 100%;
        padding: 0 1em;
    }
    .label{
        @include glass(0.2);
        position: absolute;
        top: 0;
        left: 0;
        height: 90%;
        display: flex;
        align-items: center;
        color : $primary-background;
        border-radius: 2em 0 0 2em;
        pointer-events: none;
        font-weight: bold;
        padding: 0 .5em;
    }
    .input:not(:placeholder-shown) + .label, .input:focus + .label{
        transform: translateY(-85%) translateX(1.5em);
        border-radius: 2em;
    }
    textarea.input{
        height: 30vh;
        max-height: 100%;
    }
    textarea.input + .label{
        height: 2em;
        border-radius: 2em;
    }
    .error{
        position: absolute;
        top: 100%;
        right: 0;
    }
}

.error{
    .input{
        background-color: $tercary-color;
        border: solid 2px $tercary-color;
        &:hover{
            border: solid 2px $tercary-color;
        }
    }
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
        @include glass(0.3);
        font-size: 1.5em;
        padding: 0.25em .5em;
        margin: .5em;
        cursor: pointer;
        border-radius: 50px;

    }
}