.wods-container{
    width: 60%;
    margin: 1em auto;
    padding: 2em 1em;
    @include glass(0.2);
    color: $primary-background;
    .workout-selector-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .workout-selector{
            padding: 2em 1em;
            @include glass(0.2);
        }
    }
    .line{
        width: 90%;
        margin: 1em auto;
        @include glass(0.2);
        
        &:hover{
            transform: none;
        }
    }
    .workout{
        width: 90%;
        margin: 0 auto;
        .card{
            width: 90%;
            margin: 1em auto;
            padding: 1em 2em;
            @include glass(0.2);
            transform: none !important;
            .exos{
                width: 90%;
                margin: 1em auto;
                .exo{
                    margin: 1em auto;
                    h3{
                        margin: 0 .5em;
                    }
                }
            }
        }
    }
    *:not(.btn){
        color: $primary-background;
    }
}