@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital@1&display=swap%27');


$primary-background: #3D4152;
$secondary-background: #FFE5D9; 
$primary-color: #D8E2DC;
$secondary-color: #7C90DB;
$tercary-color: #E5625E;
$white: #EEEBD3;

$title-font: 'Montserrat', sans-serif;
$content-font: 'Lato', sans-serif;


