@use "sass:color";
@mixin glass($intensity) { /* intensity est compris entre 0 et 1 */
    background-color: rgba($color: $secondary-background, 
                        $alpha: $intensity);

    box-shadow: 0 8px 32px 0 color.adjust($primary-background, 
                            $alpha: -((1-$intensity)/2));

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( $secondary-background, 
                            .09 * (10 * $intensity) );

    perspective: 800px;
    &:hover{
        background-color: rgba($color: $secondary-background, 
                            $alpha: $intensity + ($intensity/6));

        box-shadow: 5px 16px 64px 0  color.adjust($primary-background,
                                                $alpha: -((1-$intensity)/3));

        border: 1px solid rgba( $secondary-background, 
                                0.18 * (10 * $intensity));

        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        transform: scale(1.02) rotateY(5deg) rotateZ(0.2deg);
    }
    .header{
        background-color: rgba($color: $secondary-background, 
                            $alpha: $intensity/2);
    }
    &:hover .header{
        background-color: rgba($color: $secondary-background, 
                            $alpha: $intensity/6);
    }

    @supports not ((backdrop-filter: blur(4px)) or (-webkit-backdrop-filter: blur(4px))) {
        background-color: rgba($color: $secondary-background, 
                            $alpha: $intensity * 1.5);

        &:hover{
            background-color: rgba($color: $secondary-background, 
                                $alpha: ($intensity * 2 ) + ($intensity/6));
        }
    }
}

/*
*
*   border radius is set by default
*
*   warn me if you remove it *bisous*   
*
*   I try to find an alternative to backdrop filter on unsupported browsers
*
*/