@mixin glass($opacity) {
    background-color: rgba($color: $secondary-background, 
                           $alpha: $opacity);
    box-shadow: 0 8px 32px 0 darken($primary-background, 50%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( $secondary-background, 0.09 * (10 * $opacity) );
    margin: 2em;
    &:hover{
        background-color: rgba($color: $secondary-background, 
                               $alpha: $opacity + ($opacity/3));
        box-shadow: 0 8px 32px 0 darken($primary-background, 80%);
        border: 1px solid rgba( $secondary-background, 0.18 * (10 * $opacity));
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
    }
    .header{
        background-color: rgba($color: $secondary-background, 
                              $alpha: $opacity/2);
    }
    &:hover .header{
        background-color: rgba($color: $secondary-background, 
                              $alpha: $opacity/6);
    }
}