@use "sass:color";
@mixin glass($intensity) {
    background-color: rgba($color: $secondary-background, 
                           $alpha: $intensity);
    box-shadow: 0 8px 32px 0 color.adjust($primary-background, $alpha: -((1-$intensity)/2));
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( $secondary-background, 0.09 * (10 * $intensity) );
    &:hover{
        background-color: rgba($color: $secondary-background, 
                               $alpha: $intensity + ($intensity/6));
        box-shadow: 5px 16px 64px 0  color.adjust($primary-background, $alpha: -((1-$intensity)/3));
        border: 1px solid rgba( $secondary-background, 0.18 * (10 * $intensity));
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
    }
    .header{
        background-color: rgba($color: $secondary-background, 
                              $alpha: $intensity/2);
    }
    &:hover .header{
        background-color: rgba($color: $secondary-background, 
                              $alpha: $intensity/6);
    }
}