@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 2rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;
  &.burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: $secondary-color;
    @include transition-ease;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: $secondary-color;
      @include transition-ease;
    }
    &::after {
      content: '';
      position: absolute;
      top: 8px;
      width: 28px;
      height: 3px;
      background: $secondary-color;
      @include transition-ease;
    }
    &.open {
      transform: rotate(720deg);
      background: transparent;
      &::before {
        transform: rotate(45deg) translate(5px, 8px);
        background-color: red;
        background-color: red;
      }
      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
        background-color: red;
      }
    }
  }
}

.nav-burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  &.open {
    visibility: visible;
  }
  .menu-nav {
    margin-top: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: $secondary-color;
    list-style-type: none;
    padding-right: 2rem;
    transform: translateY(-100vh);
    @include transition-ease;

    &.open {
      transform: translateY(0);
    }
    &-item {
      transform: translateX(100vw);
      @include transition-ease;
      &.open {
        transform: translateX(0);
      }
      &.active > a {
        color: $secondary-color;
      }
    }

    &-link {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 2rem 0;
      font-weight: 300;
      @include transition-ease;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
@for $var from 1 through 2 {
  .menu-nav-item:nth-child(#{$var}) {
    transition-delay: $var * 0.1s + 0.15s;
  }
}

